/*
table, td, th
{
  border:1px solid black;
}

td
{
  background-color:brown;
  color:white;
}

th
{
  background-color:green;
  color:white;
}
*/

.basic_table
{
    font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;
    width:100%;
    border-collapse:collapse;
    margin-left: 0px; 
    text-align:center;
}

.basic_table td, basic_table th 
{
    font-size:1.2em;
    border:1px solid #88F;
    padding:3px 7px 2px 7px;
}

.basic_table th 
{
    font-size:1.4em;
    padding-top:5px;
    padding-bottom:4px;
    background-color: #622;
    color:white;
}

.basic_table a
{
    color:black; 
    text-decoration: none;
}

.basic_table tr.alt td 
{
    color:#000;
    background-color:#EAF2D3;
}


button {
    background-color: rgb(212,212,18);
    border-radius:13px;
    border:2px solid #264d55;
    box-shadow: inset 3px 3px 4px 3px #cae3fc;
    color:#0f0f0f;
    font-family: Verdana;
    font-size:12px;
    text-decoration: none;
    vertical-align: middle;
}

.button-link {
    padding: 5px 10px;
    background: #4479BA;
    color: #FFF;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.button-link:hover, .button-link:focus {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

.left {
	float: left;
	width: 100%;
	margin: 0;
}

.score
{
    border: none;
}

.team
{
    width: 100px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.red
{
/*    background-color:#ffaeae; */
    background-color:#c66;
}

.blue
{
    background-color:#66c;
}

.yellowtext
{
    color:rgb(255,255,80);
}


.inline
{
    display: inline;
}

.subject
{
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    color: firebrick;
}

.heading
{
    font-size: 20px; 
    font-weight:bold;
}

.competition_link
{
  font-size: 20px; 
  font-weight:bold;
  color:#4040FF;
  text-decoration: none;
}

.small
{
    font-size: 12px; 
    font-weight:bold;
}